__pycache__
.env
wandb
checkpoints
*.pkl.gz
cache
pytorch
runs
log
catboost_info
rolos_workflow_data
generated/WyckoffTransformer_mp_20_CHGNet_relax_fix-symmetry_vs_removal
generated/WyckoffTransformer_mp_20_CHGNet_relax_no_symmetry
generated/WyckoffTransformer_mp_20_DiffCSPPP_tol0.1_nosymconstrain
generated/WyckoffTransformer_mp_20_DiffCSPPP_tol0.1_CHGNet_fixed
generated/crystalformer_mp20_CHGNet_fix_release
generated/DiffCSP_mp_20_fixed_symmetry
generated/FlowMM-relaxed
generated/FlowMM
generated/WyCryst_mp20
generated/mp20_test_CHGNnet_fixed_symmetry
DiffCSP++_mp20_two_step_symmetry
data/2023-02-07-mp-computed-structure-entries.json.gz
poetry.lock
pyproject.toml
